<div class="container mt-4">
  <h2>Lista de Categorias</h2>

  <div class="mb-3">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="searchTerm"
        placeholder="Buscar por nome"
        (keyup.enter)="searchCategories()"
      >
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="searchCategories()"
      >
        🔍 Buscar
      </button>
      <button
        class="btn btn-outline-danger"
        type="button"
        (click)="clearSearch()"
        [disabled]="!searchTerm"
      >
        Limpar
      </button>
    </div>
  </div>

  <div class="mb-3">
    <a routerLink="/categories/create" class="btn btn-success">
      Nova Categoria
    </a>
  </div>


  <div *ngIf="loading" class="alert alert-info">Carregando...</div>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <table class="table table-striped" *ngIf="!loading && !error">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Descrição</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categories">
      <td>{{ category.id }}</td>
      <td>
        <a [routerLink]="['/categories', category.id]">
          {{ category.name }}
        </a>
      <td>{{ category.description }}</td>
    </tr>
    </tbody>
  </table>
</div>
